/*
    Name: Elliane Croce
    Date Created: 10/15/2018
    Most recent revision: 10/20/2018
*/

body {
    background-color: #2a6592;
}

header, footer {
    background-color: #8ec3eb;  
    text-align: center;
    font-variant-caps: small-caps;
    padding: 5px 0px 5px 0px;
    
}

header {
    font-family: impact, charcoal, sans-serif;
}

nav .btn{
    background-color: #db9833;
    color: black;  
    margin-bottom: 20px;
    margin-top: 5px;
}

a:visited {
    color: #f6d8ac;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

.jumbotron {
    background-color: #7e9a8a;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-bottom: 10px;
    font-variant-caps: small-caps;

}

.row #descr {
    background-color: #7e9a8a;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

}

.carousel{
    background-color: #db9833;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.carousel-inner{
    background-color: #f6d8ac;
    max-width: 600px;
    margin: auto;
    min-height: 100px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}


